{% extends "template.html" %}
{% block title %}languages{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div id="app-language"> 
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-inline">
                <input type="hidden" class="languageId">
                <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label>Name</label>
                    <input class="name">
                </div>
                <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <button type="button" class="btn-sm btn-default" v-on:click="saveItem($event)">Save</button>
                </div>
            </form>
        </div>
        <br><br><br>
        <div style="width: 80%;">
            <table class="table table-condensed">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    </thead>
                <tbody>
                    <tr v-for="item in languages">
                        <td style="width: 10%;">[[item._id]]</td>
                        <td>[[item.name]]</td>
                        <td style="width: 2%;"><button class="btn-sm btn-default" v-on:click="editItem($event,item._id)">Edit</button></td>
                        <td style="width: 2%;"><button class="btn-sm btn-default" v-on:click="deleteItem($event,item._id)">Delete</button></td>
                    </tr> 
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager" v-for="n in total_pages">
                <li v-if="n==current_page">
                    <button type="button" class="btn-sm btn-info" disabled>[[n]]</button>
                </li>
                <li v-if="n!=current_page">
                    <button type="button" class="btn-sm btn-default" v-on:click="setCurrentPage(n)">[[n]]</button>
                </li>
            </ul>
        </div>
    </div>
    
    <script>
        var app_language = new Vue({
            el: '#app-language',
            data: {
                items_per_page: 5,
                total_items: 0,
                current_page: 1,
                total_pages: 1,
                languages: null
            },
            created: function () {
               this.renderData();
            },
            
            methods: {
                renderData: function() 
                {
                    var _this = this;
                    $.when(_this.renderTotal()).done(function(req){
                        _this.renderTotalPages();
                        _this.renderCurrentPage();
                    });
                },
                renderCurrentPage: function() {
                    var _this = this;
                    var success_callback = function(data) {
                        _this.languages = data;
                    };
                    var error_callback = function() {
                    };
                    var ajx = $.ajax({
                        url: 'rest/api/v1.0/language?items='+_this.items_per_page+'&page='+_this.current_page,
                        type: 'GET',
                        success: success_callback,
                        error: error_callback,
                        contentType: "application/json"
                    });
                    return ajx;
                },
                renderTotal: function()
                {
                    var _this = this;
                    var success_callback = function(data) {
                        _this.total_items = data.length;
                    };
                    var error_callback = function() {
                    };
                    var ajx = $.ajax({
                        url: 'rest/api/v1.0/language',
                        type: 'GET',
                        success: success_callback,
                        error: error_callback,
                        contentType: "application/json"
                    });
                    return ajx;
                },
                renderTotalPages: function()
                {
                    if (this.total_items == 0 || this.items_per_page == 0)
                    {
                        this.total_pages = 1;
                    } else 
                    {
                        var total_pages = this.total_items / this.items_per_page;
                        if (total_pages < 1)
                        {
                            total_pages = 1;
                        }
                        if (Math.round(total_pages) < total_pages)
                        {
                            total_pages = Math.round(total_pages) + 1;
                        }
                        this.total_pages = total_pages;

                        if (this.current_page > this.total_pages)
                        {
                            this.current_page = this.total_pages;
                        }
                    }
                },
                setCurrentPage: function(n)
                {
                    this.current_page = n;
                    this.renderData();
                },
                editItem: function(event, languageId)
                {
                    var _this = this;
                    var success_callback = function(data) {
                        $("#app-language .languageId").val(data._id);
                        $("#app-language .name").val(data.name);
                    };
                    var error_callback = function() {
                        alert("Item has not been fetched");
                    };
                    $.ajax({
                        url: 'rest/api/v1.0/language/'+languageId,
                        type: 'GET',
                        success: success_callback,
                        error: error_callback,
                        contentType: "application/json"
                    });
                    
                },
                deleteItem: function(event,languageId)
                {
                    var _this = this;
                    var success_callback = function() {
                        alert("Item has been removed");
                        _this.renderData();
                    };
                    var error_callback = function() {
                        alert("Item has not been removed");
                    };
                    $.ajax({
                        url: 'rest/api/v1.0/language/'+languageId,
                        type: 'DELETE',
                        success: success_callback,
                        error: error_callback,
                        contentType: "application/json"
                    });
                },
                saveItem: function(event)
                {
                    var _this = this;
                    var success_callback = function() {
                        alert("Item has been saved");
                        $("#app-language .languageId").val("");
                        $("#app-language .name").val("");
                        _this.renderData();
                    };
                    var error_callback = function() {
                        alert("Item has not been saved");
                    };

                    var languageId = $("#app-language .languageId").val();
                    var data = {
                        name: $("#app-language .name").val(),
                    };

                    console.log(data);

                    $.ajax({
                        url: 'rest/api/v1.0/language'+(languageId ? "/"+languageId : ""),
                        type: (languageId ? "PUT" : "POST"),
                        success: success_callback,
                        error: error_callback,
                        contentType: "application/json",
                        data: JSON.stringify(data)
                    });
                    
                }
            },
            delimiters: ["[[","]]"]
        });

        $(document).ready(function(){
            $(".nav-item").removeClass("active");
            $(".nav-item-language").addClass("active");
        });
    </script>
{% endblock %}
